@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'tailwindcss';

@theme {
  --color-text: #ffeed3;
  --color-background: #020a10;
  --color-primary: #ee3102;
  --color-secondary: #4a22ea;
  --color-accent: #c4c117;
  --font-bartle: "BBH Bartle";
  --font-inter: "Inter"
}

p {
  font-family: "Inter";
  color: var(--color-text);
}